* {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
  }
  h1 {
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #dfdada;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
  }
  header.abajo{
    background: #dfdada;
    padding: 15px 20px;
  }
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li{
    list-style: none;
  }

  header ul li a{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #dfdada;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
  }

  .zona1{
    position: relative;
    width: 25%;
    height: 25vh;
    background: href();
    background-size: cover;
    background-position: center center;
  }
  header.abajo h1,
  header.abajo ul li a{
    color: #000;
  }
  .img {
    display: flex;
    justify-content: right;
  }

  .IMG1 {
    width: 350px;
  }