*{margin:0; padding:0;}
body {
    font-family: sans-serif;
    margin: 0;
}
header{
    display: flex;
    height: 70px;
    overflow:hidden;
    background:#7393dd;
    align-items: center;

}
.logo{
    display: flex;
    align-items: center;
}
.logo-img{
    height: 50px;
    margin-right: 10px;
}

nav a{
   
    padding-right: 0;
    font-weight: 600px;
    font-size: small;
    
}
h2{
    color: rgb(0, 0, 0);
    font-size: 45px;
    
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}
nav a:hover{
    color: aquamarine;
}
