/*.container{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.altaInput{
    text-align: center;
    -ms-flex-align: center;
    margin-bottom: 40px;
}
.grupoInputs{
    width: 50%;
    margin: 10px;
}

.grupoInputs input{
    width: 70%;
}

.grupoInputs label{
    padding: 10px;
}

.btn-submit{
    width: 20%;
    align-self:flex-end;
}***/
.container{
    -ms-flex-align: center;
}