body{
    margin: 0%;
    background-color: antiquewhite;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: #702ec1;
    height: 90px;
}

.flor{
    color: rgb(235, 228, 228);;
}

.input{
    position: absolute;
    top: 18px;
    left: 25%;
    font-size: 18px; font-size: 30px
}
.container{
    position: absolute;
    justify-content: right;
    top: 18px;
    left: 77%;
    
    
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #702ec1;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: rgb(235, 228, 228);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   .dropdown:hover .dropbtn {
    background-color: rgb(240, 240, 240);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #945adb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(235, 228, 228);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color:#702ec1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.img{
  position: absolute;
  left: 3%;
}
.titulo{
  position: absolute;
  left: 65%;
}
.info{
position: absolute;
top: 30%;
left: 48%
}
.precio{
  position: absolute;
top: 40%;
left: 48%
}
.cuotas{
  position: absolute;
  color: #945adb;
  top: 48%;
  left: 48%
}
.boton{
  position: absolute;
  border: none;
  border-radius: 30px;
  background: none;
  background-color: #702ec1;
  color: aliceblue;
  padding: 20px 60px;
  cursor: pointer;
  top: 60%;
  left: 48%
}
  
 