body{
    margin: 0%;
    background-color: antiquewhite;
}

.img{
  position: absolute;
  left: 3%;
}
.titulo{
  position: absolute;
  left: 65%;
}
.info{
position: absolute;
top: 30%;
left: 48%
}
.precio{
  position: absolute;
top: 43%;
left: 48%
}
.cuotas{
  position: absolute;
  color: #000000;
  top: 49%;
  left: 48%
}
.boton{
  position: absolute;
  border: none;
  border-radius: 30px;
  background: none;
  background-color: #81d7cd;
  color: aliceblue;
  padding: 20px 60px;
  cursor: pointer;
  top: 60%;
  left: 48%
}
.boton:hover{
  background-color: #ffffff;
  transition: 0.7s;
  color: #000000;
}



  
 