menu{
    border-bottom: 1px solid rgb(0, 0, 0);
}
.container{
    display: flex;
    justify-content: right;
}



  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   .dropdown:hover .dropbtn {
    background-color: rgb(240, 240, 240);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .puf {
    position: absolute;
    top: 34px;
    left: 650px;
    font-size: 18px; font-size: 30px
  }

  .arriba{
    
      position: absolute;
      top: 15%;
      width: 138%;
      text-align: center;
      font-size: 18px;
    
  }
  .belen {
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 20%;
    text-align: center;

  
  }
  p.precioL{
    padding: 5px;
  left: 35%;
  position: absolute;
  top: 89%;
  text-align: center;
  font-size: 13px;
  }
  .tomate {
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 20%;
    left: 30%;
    text-align: center;
  }
  
  .morron {
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 20%;
    left: 60%;
    text-align: center;
  }
  .cebolla {
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 20%;
    left: 90%;
    text-align: center;
  }
  .champiñon{
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 20%;
    left: 120%;
    text-align: center;
  }
  .zanahoria{
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 90%;
    text-align: center;
  }
  .brocoli{
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 90%;
    left: 30%;
    text-align: center;
  }
  .papa{
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 90%;
    left: 60%;
    text-align: center;
  }
  .remolacha{
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 90%;
    left: 90%;
    text-align: center;
  }
  .coliflor{
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 90%;
    left: 120%;
    text-align: center;
  }
  .zapallo{
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 160%;
    text-align: center;
  }
  .berenjena{
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 160%;
    left: 30%;
    text-align: center;
  }
  .puerro{
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 160%;
    left: 60%;
    text-align: center;
  }
  .acelga{
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 160%;
    left: 90%;
    text-align: center;
  }
  .verdeo{
    border-style: solid;
    border-color: rgb(255, 227, 194);
    background-color: rgb(255, 227, 194);
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 160%;
    left: 120%;
    text-align: center;
  }
  .imgg{
    width: 250px;
    position: absolute; 
    top: 30%;
  }
  .abajo{
    position: absolute;
      top: 220%;
      width: 100%;
      text-align: center;
      font-size: 15px;
      
  }
  .a{
    text-decoration: none;
    color: black;
  }
  