body{
    margin: 0%;
    background-color: antiquewhite;
}
  .a{
    text-decoration: none;
    color: black;
  }
  .h1{
    position: absolute;
    top: 15%;
    left: 10%;
  }
  .h5{
    position: absolute;
    top: 28%;
    left: 10%;
    max-width: 600px;
  margin: auto;
  }
  .h1_2{
    position: absolute;
    top: 93%;
    left: 10%;
  }
  .h5_2{
    position: absolute;
    top: 101%;
    left: 10%;
    max-width: 600px;
  margin: auto;
  }