body{
    margin: 0%;
    background-color: antiquewhite;
}


  .a{
    text-decoration: none;
    color: black;
  }
.bloque{
    border-style: solid;
    border-color: rgb(255, 188, 238);
    background-color:  #81d7cd;;
    border-radius: 12px;
    padding: 5px;
    width: 550px;
    height: 700px;
    position: absolute;
    left: 32%;
    top: 20%;
    text-align: center;
}
.inputt{
    width: 300px;
    border-radius: 8px;
    padding: 2px;
    border-color: rgb(255, 188, 238);
    
}
.botonn{
  border-radius: 30px;
  background: none;
  background-color: #81d7cd;
  border-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 6px 40px;
  cursor: pointer;
}
.botonn:hover{
  background-color: #ffffff;
  transition: 0.7s;
  color: #000000;
  
}
.opciones{
    background-color: antiquewhite;
    color: black;
}
