menu{
    border-bottom: 1px solid rgb(0, 0, 0);
    top: 40%;
}
a{
    text-decoration: none;
    overflow: hidden;
    color: black;
}
.lap{
    position: absolute;
    right: 805px;
    top: 92%;
}
.lap1{
    position: absolute;
    right: 500px;
    top: 92%;
}
input{
    font-size: large;
    width: 300px;
}