body{
    margin: 0%;
}
menu{
    border-bottom: 1px solid rgb(0, 0, 0);
  
    background-color: #702ec1;
}
a{
    text-decoration: none;
    overflow: hidden;
    color: black;
}
.lap{
    position: absolute;
    right: 904px;
    top: 92%;
}
.lap1{
    position: absolute;
    right: 602px;
    top: 92%;
}
input{
    font-size: large;
    width: 600px;
    
}
select{
    font-size: large;
}
.info{ 
         border-style: solid;
         border-color: rgb(255, 188, 238);
    background-color:  #ffe8a2;
        border-radius: 12px;
        padding: 5px;
        width: 620px;
        height: 600px;
        position: absolute;
        top: 37%;
        left: 55%;
        text-align: center;
      }
.pipi{
    position: relative;
    top: 1%;
    left: 40%;
}
.morado{
    background-color: #702ec1;
}

.logo{
    background-image: url(../img/semillas/logo_florvax.png);
    color: #FFFFFF;
}