*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #ff006f;
}


header{
    background-color: #81d7cd;
    position: relative;
    padding: 0 2rem;
}

.nav{
    width: 100%;
    height: 60px;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    gap: 1px;
    display: flex;
    align-items: center;
    width: 1%;
}

.logo img{
    width: 400%;
}

.logo a{
    font-size: 1.5rem;
}

.nav .links{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.containerbusqueda{
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    background-color: white;
}

.containerbusqueda input,button{
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    outline-width: 0;
}

.containerbusqueda button:hover{
    background-color: gray;
    border-radius: 50px;
    padding: 1px;
    margin: 1px;
}

ul li .links{
    display: flex;
    align-items: center;
}